/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
:root {
    --left-padding: 30px;
    --drop-shaddow: 1.3px 2.6px 5px hsl(0deg 0% 0% / 0.2);
}


body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* my custom css */
@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:100vh;
}

.leftHero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 100vw;
    padding-top: 200px;
    padding-bottom: 5px;
    background-image:url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: -50px;

}
.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: RGBA(0,0,0, 0.4);
    justify-content: center;
    height: 120px;
    gap: 10px
}
#odinLogo {
    height: 80px;

}
h1 {
    font-family: "Norse";
    color: white;
    font-size: 4rem;
}
.leftHero p {
    font-size: 0.8rem;
    align-self: center;
    color: white;
}

.rightMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F9FAFB;
    padding-top: 100px;;
}
.topPara {
    margin-bottom: 30px;
    margin-right: 170px;
    font-weight: bold;
    margin-left: var(--left-padding);
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: white;
    box-shadow: var(--drop-shaddow);
    padding: 10px var(--left-padding) 30px var(--left-padding);
}
.formRow{
    display: flex;
    flex-direction: start;
    justify-content: space-between;
    margin-right: 120px;
}
.inputGroup {
    display: flex;
    flex-direction: column;
}

.formBottomArea{
    margin-left: var(--left-padding);
    flex:1 1 0;
}
.formBottomArea button {
    margin: 20px 0 20px 0;
    background-color: #596D48;
    color: white;
    border-radius:4px;
    border: 0;
    font-size: 0.9rem;
    width: 150px;
    height: 30px;
    font-weight: bold;
    box-shadow: var(--drop-shaddow)
}
.formBottomArea p {
    font-size: 0.9rem;
}
h2 {
    font-size: 1 rem;
}

label {
    font-size: 0.7rem;
}

input {
    border: 1px solid #E5E7EB;
    height: 24px
}
input:invalid {
    border-color: red;
}
input:focus {
    border-color: blue;
}




